@model HomeOwners_Exemption.Models.Claim

@{
    ViewData["Title"] = "Claim";
}

<h1>Claim</h1>

<h4>Claim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Claim">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClaimID" />
            <div class="form-group">
                <label asp-for="Claimant" class="control-label"></label>
                <input asp-for="Claimant" class="form-control" />
                <span asp-validation-for="Claimant" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
