@model HomeOwners_Exemption.Models.Claim

@{
    ViewData["Title"] = "Claim";
}
<div class="h-100 p-4">
    <h4 class="">Claim</h4>
    @if (ViewBag.ModelMessage)
    {
        <h4 class="" style="color:#ff0000;">Claim Does not Exist</h4>
    }
    
    <form asp-action="Claim">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container-fluid Section-Claim">
            <div class="row claim-core test-padding border-title ">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="claimID" id="Claimant" >Claim#:</label>
                        <input asp-for="claimID" placeholder="Enter a Claim #"  disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentApn" >AIN#:</label>
                        <input asp-for="CurrentApn"  disabled />

                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ClaimStatusID">Claim Status:</label>
                        <select asp-for="ClaimStatusID" asp-items="ViewBag.dropdownInfo.Status">
                            <option>Select</option>
                        </select>
                        @*<input asp-for="ClaimStatusRef" class="" />*@
                    </div>
                    <div class="form-group">
                        <label asp-for="AssigneeID">Assignee:</label>
                        <select asp-for="ClaimStatusID" asp-items="ViewBag.Staffs">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CreatedDate" class="" style="text-align:right">Date:</label>
                        <input asp-for="CreatedDate" class="" readonly/>
                    </div>
                </div>
            </div>
            <div class="row row-divider" style="">
                <p><b>Personal Information</b></p>
            </div>
            <div class="row claim-core form-info border-title ">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Claimant" class="">Claimant:</label>
                        <input asp-for="Claimant" class="" />
                    </div>
                    <div class="form-group">
                        <label class="">Claimant SSN:</label>
                        <input placeholder="Not available yet" class="" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Spouse" class="">Spouse:</label>
                        <input asp-for="Spouse" class="" />
                    </div>
                    <div class="form-group">
                        <label class="">Spouse SSN:</label>
                        <input placeholder="Not available yet" class="" />
                    </div>
                </div>

            </div>
            <div class="row row-divider" style="">
                <p><b>Property Information</b></p>
            </div>
            <div class="row property-info border-title">

                <div class="col-4">
                    <div class="w-100 ">
                        <p><b>Situs Information</b></p>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label style="width:200px;" asp-for="CurrentStName" class="">Street Number and Name:</label>
                                <input asp-for="CurrentStName" disabled />
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="CurrentApt" class=""> Apt/Ste/Flr#:</label>
                                <input style="" asp-for="CurrentApt" disabled />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label style="" asp-for="CurrentCity" class="">City:</label>
                                <input asp-for="CurrentCity" disabled />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="CurrentState" class="">State:</label>
                                <select asp-for="CurrentState" asp-items="ViewBag.dropdownInfo.states" disabled>
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="CurrentZip">Zip:</label>
                                <input asp-for="CurrentZip" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" >
                                <label asp-for="DateAcquired" class=""> Date Acquired:</label>
                                <input style="width:200px" asp-for="DateAcquired" disabled />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DateOccupied" class=""> Date Occupied:</label>
                                <input style="width:200px" asp-for="DateOccupied" disabled />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="w-100 ">
                        <p><b>Mailing Address</b></p>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label style="width:200px;" asp-for="MailingStName" class="">Street Number and Name:</label>
                                <input asp-for="MailingStName" readonly />

                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="MailingApt" class=""> Apt/Ste/Flr#:</label>
                                <input style="" asp-for="MailingApt" readonly />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label style="" asp-for="MailingCity" class="">City:</label>
                                <input asp-for="MailingCity" readonly />

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="MailingState" class=""> State:</label>
                                <select asp-for="MailingState" asp-items="ViewBag.dropdownInfo.states" readonly>
                                    <option>Select</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="MailingZip" class=""> Zip:</label>
                                <input style="" asp-for="MailingZip" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="form-group">
                                <input id="chkPriorAddress" name="chkPriorAddress" type="checkbox" />
                                <label style="width: 800px">Check if mailing address is different from situs to enable input</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="w-100 " style="">
                        <p><b>Prior Address (if applicable)</b></p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label style="" asp-for="PriorApn" class="">Prior APN:</label>
                                <input asp-for="PriorApn" />

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DateMovedOut" class=""> Date Moved Out:</label>
                                <input style="" asp-for="DateMovedOut" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label style="Width:200px;" asp-for="PriorStName" class="">Street Number and Name:</label>
                                <input asp-for="PriorStName" />

                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="PriorApt" class=""> Apt/Ste/Flr#:</label>
                                <input style="" asp-for="PriorApt" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label style="" asp-for="PriorCity" class="">City:</label>
                                <input asp-for="PriorCity" />

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="PriorState" class=""> State:</label>
                                <select asp-for="PriorState" asp-items="ViewBag.dropdownInfo.states" readonly>
                                    <option>Select</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="PriorZip" class=""> Zip:</label>
                                <input style="" asp-for="PriorZip" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row row-divider" style="">
                        <p><b>Decision for Claim</b></p>
                    </div>
                </div>
                <div class="col-6" style="padding-left: 15px;">
                    <div class="row row-divider" style="">
                        <p>Exemption Information</p>
                    </div>
                </div>
            </div>
            <div class="row property-info border-title ">
                <div class="col-6">

                    <div class="row">
                        <div class="col-5">
                            <label style="" asp-for="ClaimActionID" class="">Claim Action:</label>
                            @*<input asp-for="ClaimActionID" />*@
                            <select asp-for="ClaimActionID" asp-items="ViewBag.dropdownInfo.Action">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="col-7">
                            <label style="" asp-for="FindingReasonID" class="">Finding Reason:</label>
                            @*<input asp-for="FindingReasonRef" />*@
                            <select asp-for="FindingReasonID" asp-items="ViewBag.dropdownInfo.Reason"></select>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding-left: 15px; padding-right: 15px;">

                    <div class="row">
                        <div class="col-6">
                            <label style="" asp-for="RollTaxYear" class="">Roll Tax Year:</label>
                            <input asp-for="RollTaxYear" />
                        </div>
                        <div class="col-6">
                            <label style="" asp-for="ExemptRe" class="">ExemptRe:</label>
                            <input asp-for="ExemptRe" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="" asp-for="SuppTaxYear" class="">Supp Tax Year#:</label>
                            <input asp-for="SuppTaxYear" />
                        </div>
                        <div class="col-6">
                            <label style="" asp-for="ExemptRe2" class="">ExemptRe2:</label>
                            <input asp-for="ExemptRe2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="text-align:right">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <a asp-action="Claim" asp-controller="Home" asp-route-id="1">Clear</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
