@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid h-100
     pt-3 px-4">
    <h3>Dashboard</h3>
    <div class="row dashboard-1 ">
        <div class="col-6" style="background-color: #808080">

        </div>
        <div class="col-6" style="background-color: #00ffff">

        </div>
    </div>
    <div class="row dashboard-2">

    </div>
</div>