@{
    ViewData["Title"] = "Process Claim";
}
@model HomeOwners_Exemption.Models.ProcessClaim

<script src="~/lib/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="~/lib/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function Add() {
        var howManyRows = document.getElementById("tblClaims").rows.length;
        if ((howManyRows - 3) < 10) {
            AddRow($("#txtClaimID").val(), $("#txtAIN").val(), $("#txtClaimDate").val());
            $("#txtClaimID").val("");
            $("#txtAIN").val("");
            $("#txtClaimDate").val("");
        }
    };

    function AddRow(claimid, ain, claimdate) {
        //alert(document.getElementById("txtClaimDate").value);
        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblClaims > TBODY")[0];

        //Add Row.
        row = tBody.insertRow(-1);

        //Add ClaimID cell.
        var cell = $(row.insertCell(-1));
        cell.html(claimid);

        cell = $(row.insertCell(-1));
        cell.html();

        //Add AIN cell.
        cell = $(row.insertCell(-1));
        cell.html(ain);

        cell = $(row.insertCell(-1));
        cell.html();

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Remove");
        cell.append(btnRemove);
    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete Claim #: " + name)) {
            //Get the reference of the Table.
            var table = $("#tblClaims")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    // Enter number only
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // Use numbers only pattern, from 0 to 9
        var regex = /[^0-9]/gi;
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(regex, "");
    }

    // Hit "Enter" to insert the data
    $(document).on("keypress", "form", function (event) {
        if (event.keyCode == 13) {
            return event.keyCode != 13;
        }
    });

    $(document).ready(function () {
        $("#ddClaimStatus").change(function () {
            var statusText = $("#ddClaimStatus option:selected").text();

            if ((statusText == "Claim Received")) {
                document.getElementById("lblClaimReceivedDate").style.display = "inline";
                document.getElementById("txtClaimReceivedDate").style.display = "inline";

                
                var today = new Date();
                var mm = today.getMonth() + 1; //January is 0!
                var dd = today.getDate();
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                var today = mm + '/' + dd + '/' + yyyy;
                document.getElementById("txtClaimReceivedDate").value = today;
            }
            else {
                document.getElementById("lblClaimReceivedDate").style.display = "none";
                document.getElementById("txtClaimReceivedDate").style.display = "none";
                document.getElementById("txtClaimReceivedDate").value = "";
            }

            if ((statusText == "Supervisor Workload")) {
                document.getElementById("lblAssignTo").style.display = "inline";
                document.getElementById("ddSupervisors").style.display = "inline";
            }
            else {
                document.getElementById("lblAssignTo").style.display = "none";
                document.getElementById("ddSupervisors").style.display = "none";
            }

            if ((statusText == "Staff Review")) {
                document.getElementById("lblAssignToStaff").style.display = "inline";
                document.getElementById("ddStaffs").style.display = "inline";
            }
            else {
                document.getElementById("lblAssignToStaff").style.display = "none";
                document.getElementById("ddStaffs").style.display = "none";
            }
        });
    });

</script>
<div class="text-left">
    <label><b>Scan Claim - Claim Received</b></label>
</div>
<br />
@using (Html.BeginForm("ProcessClaim", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td width="350px">
                <label style="font-weight:bold;">
                    Claim Status:
                    @Html.DropDownListFor(model => model.ClaimStatus,
                            new SelectList(
                            new List<Object>{
                                new { value = 1, text = "Claim Received" },
                                new { value = 2, text = "Supervisor Workload" },
                                new { value = 3, text = "Staff Review" },
                                //new { value = 4, text = "Supervisor Review" },
                                new { value = 5, text = "Case Closed" },
                                new { value = 6, text = "Hold"}
                                }, "value", "text", 0), "Select Status", new { style = "width:250px;", @id = "ddClaimStatus", @class = "form-control", @label = "Claim Status:" })
                </label>
            </td>
            <td width="300px">
                <label id="lblAssignTo" style="font-weight:bold;display:none;">
                    Assign To:
                    @Html.DropDownListFor(model => model.Supervisor, Model.Supervisors, new { style = "width:250px;display:none;", @id = "ddSupervisors", @class = "form-control dropdown-text" })
                </label>

                <label id="lblAssignToStaff" style="font-weight:bold;display:none;">
                    Assign To:
                    @Html.DropDownListFor(model => model.Staff, Model.Staffs, new { style = "width:250px;display:none;", @id = "ddStaffs", @class = "form-control dropdown-text" })
                </label>

                <label id="lblClaimReceivedDate" style="font-weight:bold;display:none;">
                    Claim Received Date:
                    @Html.TextBoxFor(model => model.ClaimReceivedDate, new { style = "width:250px;display:none;", @id = "txtClaimReceivedDate", @name = "txtClaimReceivedDate", maxlength = 10, @class = "form-control input-text" })
                </label>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <div text-align="center">
        <table id="tblClaims" cellpadding="0" cellspacing="0" border="1">
            <thead>
                <tr>
                    <th width="100px">Claim #</th>
                    <th width="30px">&nbsp;</th>
                    <th width="100px">AIN</th>
                    <th width="30px">&nbsp;</th>
                    <th width="50px">&nbsp;</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td><input type="text" id="txtClaimID" maxlength="7" oninput="numberOnly(this.id)" /></td>
                    <td>&nbsp;</td>
                    <td><input type="text" id="txtAIN" maxlength="10" oninput="numberOnly(this.id)" /></td>
                    <td>&nbsp;</td>
                    <td><input type="button" onclick="Add()" value="Add" /></td>
                </tr>
                <tr>
                    <td colspan="6" align="right">
                        <input type="submit" class="btn btn-primary bg-3" id="SubmitProcess" value="Process" />
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-primary bg-3" id="SubmitCancel" value="Cancel"  />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}


