@{
    ViewData["Title"] = "Process Claim";
}
@*test*@
@model HomeOwners_Exemption.Models.ProcessClaim

<script src="~/lib/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="~/lib/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    //$(function () {
        //Build an array containing claim records.
        //var claims = new Array();
        //claims.push(["1234567", "111111111"]);
        //claims.push(["7654321", "222222222"]);
        //claims.push(["1223344", "3333333333"]);
        //claims.push(["4433221", "444444444"]);

        //Add the data rows.
        //for (var i = 0; i < claims.length; i++) {
        //    AddRow(claims[i][0], customers[i][1]);
        //}
    //});

    function Add() {
        AddRow($("#txtClaimID").val(), $("#txtAIN").val());
        $("#txtClaimID").val("");
        $("#txtAIN").val("");
    };

    function AddRow(claimid, ain) {
        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblClaims > TBODY")[0];

        //Add Row.
        row = tBody.insertRow(-1);

        //Add ClaimID cell.
        var cell = $(row.insertCell(-1));
        cell.html(claimid);

        //Add AIN cell.
        cell = $(row.insertCell(-1));
        cell.html(ain);

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Remove");
        cell.append(btnRemove);
    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete Claim ID: " + name)) {
            //Get the reference of the Table.
            var table = $("#tblClaims")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    // Enter number only
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // Use numbers only pattern, from 0 to 9
        var regex = /[^0-9]/gi;
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(regex, "");
    }

    // Hit "Enter" to insert the data
    $(document).on("keypress", "form", function (event) {
        if (event.keyCode == 13) {
            return event.keyCode != 13;
        }
    });

    // Change the claim status dropdown
    $("body").on("change", "#ddClaimStatus", function () {
        var selectedStatusText = $(this).find("option:selected").text();
        var selectedStatusValue = $(this).val();
        if (selectedStatusText == "Claim Received") {
            document.getElementById("divAssignTo").style.display = "none";
            document.getElementById("divClaimDate").style.display = "inline";
        }
        else if ((selectedStatusText == "Supervisor Workload") || (selectedStatusText == "Staff Review")) {
            document.getElementById("divAssignTo").style.display = "inline";
            document.getElementById("divClaimDate").style.display = "none";
        }
        else {
            document.getElementById("divAssignTo").style.display = "none";
            document.getElementById("divClaimDate").style.display = "none";
        }
    });
</script>
<div class="text-center">
    <h1 class="display-4">Process Claim</h1>
</div>

@using (Html.BeginForm("ProcessClaim", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td style="width:300px">
                <div style="width:250px">
                    <h6>Claim Status</h6>
                    @Html.DropDownListFor(model => model.ClaimStatus,
                            new SelectList(
                            new List<Object>{
                                new { value = 1, text = "Claim Received" },
                                new { value = 2, text = "Supervisor Workload" },
                                new { value = 3, text = "Staff Review" },
                                new { value = 4, text = "Supervisor Review" },
                                new { value = 5, text = "Case Closed" },
                                new { value = 6, text = "Hold"}
                                }, "value", "text", 0), "Select Status", new { @class = "form-control", @id = "ddClaimStatus" })
                </div>
            </td>
            <td style="width:300px">
                <div id="divAssignTo" style="display:none;width:250px;">
                    <h6>Assign To</h6>
                    @Html.DropDownListFor(model => model.Assignee,
                                    new SelectList(
                                    new List<Object>{
                                        new { value = 650370, text = "Garg, Indu" },
                                        new { value = 651365, text = "Spencer, Daniel" }
                                        }, "value", "text", 0), "Select Assignee", new { @class = "form-control", @id = "ddAssignee", style = "width300px" })
                </div>
                <div id="divClaimDate" style="display:none;">
                    <h6>Claim Date</h6>
                    @Html.TextBoxFor(model => model.ClaimDate, new { @type = "search", maxlength = "10", @id = "txtClaimDate", @name = "txtClaimDate", @class = "form-control input-text" })
                </div>
            </td>
        </tr>
    </table>
    <br />
    <table id="tblClaims" cellpadding="0" cellspacing="0" border="1">
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>AIN</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td><input type="text" id="txtClaimID" maxlength="7" oninput="numberOnly(this.id)" /></td>
                <td><input type="text" id="txtAIN" maxlength="7" oninput="numberOnly(this.id)" /></td>
                <td><input type="button" onclick="Add()" value="Add" /></td>
            </tr>
        </tfoot>
    </table>

    <div>
        <br />
        <br />
        <input type="submit" class="btn btn-primary bg-3" id="SubmitCancel" value="Cancel" asp-controller="Home" asp-action="ProdessClaim" />
        &nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn btn-primary bg-3" id="SubmitProcess" value="Process" />
    </div>

    <div class="modal fade" id="ModalPopUp" role="dialog">
        <div class="modal-dialog err-pop" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    Put Your Html Element Here
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"
            integrity="sha256-2+LznWeWgL7AJ1ciaIG5rFP7GKemzzl+K75tRyTByOE="
            crossorigin="anonymous">
        $("body").on("click", "#SubmitProcess", function () {
            alert("here")
            $('#ModalPopUp').modal('show');
        });
    </script>
}


