@{
    ViewData["Title"] = "Process Claim";
}
@*test*@
@model HomeOwners_Exemption.Models.ProcessClaim

<script src="~/lib/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="~/lib/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function Add() {
        var howManyRows = document.getElementById("tblClaims").rows.length;
        if ((howManyRows - 3) < 10) {
            AddRow($("#txtClaimID").val(), $("#txtAIN").val(), $("#txtClaimDate").val());
            $("#txtClaimID").val("");
            $("#txtAIN").val("");
            $("#txtClaimDate").val("");
        }
    };

    function AddRow(claimid, ain, claimdate) {
        //alert(document.getElementById("txtClaimDate").value);
        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblClaims > TBODY")[0];

        //Add Row.
        row = tBody.insertRow(-1);

        //Add ClaimID cell.
        var cell = $(row.insertCell(-1));
        cell.html(claimid);

        cell = $(row.insertCell(-1));
        cell.html();

        //Add AIN cell.
        cell = $(row.insertCell(-1));
        cell.html(ain);

        cell = $(row.insertCell(-1));
        cell.html();

        //Add Claim Date cell.
        cell = $(row.insertCell(-1));
        cell.html(claimdate);

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Remove");
        cell.append(btnRemove);

        //Current Claim Date cell
        cell = $(row.cell(0));

    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete Claim #: " + name)) {
            //Get the reference of the Table.
            var table = $("#tblClaims")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    // Enter number only
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // Use numbers only pattern, from 0 to 9
        var regex = /[^0-9]/gi;
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(regex, "");
    }

    // Hit "Enter" to insert the data
    $(document).on("keypress", "form", function (event) {
        if (event.keyCode == 13) {
            return event.keyCode != 13;
        }
    });

</script>
<div class="text-center">
    <h1 class="display-4">Claim Received</h1>
</div>

@using (Html.BeginForm("ProcessClaim", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div text-align="center">
        <table id="tblClaims" cellpadding="0" cellspacing="0" border="1">
            <thead>
                <tr>
                    <th width="100px">Claim #</th>
                    <th width="30px">&nbsp;</th>
                    <th width="100px">AIN</th>
                    <th width="30px">&nbsp;</th>
                    <th width="100px">Claim Date</th>
                    <th width="50px">&nbsp;</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td><input type="text" id="txtClaimID" maxlength="7" oninput="numberOnly(this.id)" /></td>
                    <td>&nbsp;</td>
                    <td><input type="text" id="txtAIN" maxlength="10" oninput="numberOnly(this.id)" /></td>
                    <td>&nbsp;</td>
                    <td><input type="text" id="txtClaimDate" maxlength="10" /></td>
                    <td><input type="button" onclick="Add()" value="Add" /></td>
                </tr>
                <tr>
                    <td colspan="6" align="right">
                        <input type="submit" class="btn btn-primary bg-3" id="SubmitProcess" value="Process" />
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-primary bg-3" id="SubmitCancel" value="Cancel" asp-controller="Home" asp-action="ProdessClaim" />
                    </td>
                </tr>
                <!--<tr>
                    <td colspan="6">
                        @Html.EditorFor(model => model.ClaimID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClaimID, "", new { @class = "text-danger" })

                    </td>
                </tr>-->
            </tfoot>
        </table>
    </div>
 }


