@model HomeOwners_Exemption.Models.SignInModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="container-fluid" style="background-color: #155189">
    <div class="h-25 d-flex la-title mx-auto" style="height:100px">
        <div class="">
            <img class="" src="~/img/LACseal.png" />
        </div>
        <div class="mt-3">
            <h2><font color="white">Los Angeles County Office of the Assessor</font></h2>
        </div>
    </div>
    <div class="row h-75  justify-content-center">
        
        <div class="center">

            <form class="form-signin " asp-action="SignIn">
                <div style="width:100%;text-align:center">
                    <h2 class="py-4">Homeowners Exemptions</h2>
                </div>
                <div style="padding-bottom:15px; margin-bottom: 15px ">
                    <label class="sr-only">Username</label>
                    <input type="text" class="form-control " placeholder="Username" id="txtUsername"
                           asp-for="Username" autofocus/>
                </div>
                <script type="text/javascript">
                    document.getElementById('txtUsername').focus();
                </script>
                <div style="padding-bottom:15px; margin-bottom: 15px">
                    <label class="sr-only">Password</label>
                    <input type="password" class="form-control" placeholder="Password"
                           asp-for="Password" />
                </div>
                <button class="ml-auto btn  btn " style="background-color: #155189;color:white;">Sign In</button>
            </form>
            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="form-validation"></div>
            }

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
