@model HomeOwners_Exemption.Models.Claim
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClaimId" />
                <table>
                    <tr>
                        <td>
                            Claimant
                        </td>
                        <td style="width:100px">
                            <input asp-for="Claimant" class="form-control" style="width:250px"/>
                        </td>
                        <td>
                            ClaimantSSN
                        </td>
                        <td style="width:100px">
                            <input asp-for="ClaimantSsn" style="width:250px" class="form-control" />
                        </td>
                        <td>
                            Spouse
                        </td>
                        <td style="width:100px">
                            <input asp-for="ClaimantSsn" style="width:250px" class="form-control" />
                        </td>
                    </tr>
                </table>
                
           
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
