<script>
    function validate() {
        var id = document.forms["RegForm"]["Id"];
        var numbers = /^[0-9]+$/;
        //window.alert(id.value.match(numbers));
        if (id.value.toString().length < 7){
            window.alert("Must include 7 digits and Must be Numeric");
            id.focus();
            return false;
        } else  if(id.value.match(numbers) == null) {
            window.alert("Must include 7 ");
            id.focus();
            return false;
        }
       
        
    }
</script>
    
<div class="" style="background-color:#155189">
    <form method="post" asp-controller="Home" asp-action="Index" onsubmit="return validate()" name="RegForm" >

        <div class="d-flex justify-content-end from-group">
            <label class="mr-4" style="color:#fff; padding-top: 8px">Claim #:</label>
            <input type="text" name="Id" maxlength="7"  style="margin-top:0.3em; margin-bottom:0.3rem; margin-right:15px; padding-left:15px;" />
        </div>
    </form>

</div>