
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html, body {
    height: 100vh;
    font-size: 18px;
}

.section-body {
    height: 100%;
}
.section-body .row {
    height: 100%;
}
.section-nav {
    background-color: #000;
}
.homeowner-nav {
    height: 60px;
    background-color: #0836d6;
}
    .homeowner-nav a {
        color: #fff;
    }
    .homeowner-nav ul {
        padding-right: 50px;
        font-size: 120%;
    }
    .homeowner-title {
        height: 60px;
        background-color: #000;
    }
.homeowner-title h2 {
    text-align: center;
    color: #fff;
}
.emblem {
    height: 120px;
    
}
.emblem img {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar li {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 115%;
}
.sidebar a {
    color: #fff;
}