
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

html,
body{
    /*height: 100%;*/
    position: relative;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    height: 100vh;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

input {
    
    
    
    margin-bottom: 0.2em;
    border-radius: 3px;
    border: 1px solid #BABABA;
}
h1,h2,h3,h4,h5 {
    font-weight: 600;
}
.col-4, .col-6, .col-8, .col-12 {
    padding: 0;
}
.section-body {
    height: 100vh;
    width: 100%;
    display: inline-flex;
    padding: 0;
}
.section-nav {
    background-color: #000;
    width: 225px;
    font-size: 90%; 
    
}
.rounded {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


.top-nav-height {
    height: 98px;
}
.sidebar ul {
    margin-left: 10px;
    margin-top: 20px;
    list-style: none;
}
.sidebar a {
    color: #fff;
    
}
.sidebar li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.sub-padding {
    padding-left: 35px !important;
}

.homeowner-title{
    height: 50px;
    background-color: #000;
}
.homeowner-title h3 {
    color: #fff;
    /*text-align: center;*/
}
.center {
    /*margin: auto;*/
    width: 50%;
    background-color: #f7f2f2;
    border-radius: 7px 7px;
    padding-left: 30px;
    padding-right: 30px;
    height: 400px;
}
.la-title {
    max-width: 700px;
    padding-top: 100px;
}
.homeowner-nav {
    background-color: #155189;
    /*font-size: 120%;*/
    color: #fff;
}
.homeowner-nav a {
    /*font-size: 120%;*/
    color: #fff;
    text-decoration: none;  
    
}
.homeowner-nav p {
    margin-bottom: 0;
}
.homeowner-nav li {
    font-size: 80%;
    padding: 5px 10px 5px 10px;
}

.btn-admin {
    background-color: transparent;
    padding: 0;
    padding-bottom: 6px;
    font-weight: 300;
    color: #fff;
    font-size: 100%;
}
.index-section {
}
.col-custom {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.dashboard-1 {
    max-height: 300px;
    
}
/*Pattabi-Start*/
.dashboard-Table-Heading {
   color:white;
   text-align:center;
}
.p-space {
    padding-left: 0.6em
}
.p-space-center {
    text-align:center;
}
.db-sub-heading {
    text-align: center;
    font-weight: bold;
}
.div-subhead-color {
    background-color:#4682B4
}
/*Pattabi-end*/
.sub-table p {
    /*padding-left: 15px;*/
}
.sub-table row:first-child p {

}
.sub-dash {
    padding: 0;
    max-width: 49.5%;
    margin-right: .5%;
}
.sub-dash2 {
    
    padding: 0;
    max-width: 49.5%;
    margin-left: .5%;
}
.shadow-inset {
    /*-moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;*/
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}
.dashboard-1 p {
    font-size: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
}
    .dashboard-1 .col-6,
    .dashboard-1 .col-2,
    .dashboard-1 .col-4,
    .dashboard-1 .col-custom{
        
        
        border: 1px solid #000;
    }
    .bg-1 {
        background-color: #155189;
    }
    .bg-2{
        background-color: #e5e5e5;
    }
.dashboard-2 {
    height: 300px;
   
    margin-top: 40px;
}
    .dashboard-2 .col-2 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding: 0;
    }

.Section-Claim{
    
    font-size: 80%;
}

.Section-Claim label {
    width: 20%;
    margin-bottom: 0;
    padding-left: 3px;
}
.claim-core{
    padding-top: 1.0rem;
}
.claim-core input{
    width: 76%;
    padding-left: 20px;
}
.Section-Claim .form-group {
    margin-bottom: .5rem;
}
.test-padding .col-4 {
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
}

.row-divider {
    background-color: #c4c4c4;
    height: 1.5rem;
    color: #fff;
    padding-left: 40px;
    padding-top: 3px;
    margin-top: 2px;
    margin-bottom: 3px;
}
.form-info {
    background-color: #f7f2f2;
}
.form-info label {
    width: 20%;
}


    .form-info input {
        width: 76.6%;
        
        
    }
.form-info-2 {
    background-color: #f7f2f2;
    padding: 0;
}
.form-info-2 p {
    margin: 3px;
    
}

    .form-inf-2 label {
        width: 19%;
    }


    .form-info-2 input {
        width: 78.6%;
    }

.border-title {
    border: 1px solid #c4c4c4;
    margin-bottom: 2px;
}
.property-info {
    padding: 4px;
    background-color: #f7f2f2;
}
.property-info .col-6 {
    padding-left:  8px;
    padding-right: 15px;
}
    .property-info .col-4 {
        padding-left: 8px;
        padding-right: 15px;
    }
    .property-info .col-7 {
        padding-left: 8px;
        padding-right: 15px;
    }
.property-info label {
    width: 150px;
}
.property-info input {
    width: 100%;
    padding-left: 10px;
    
}
.scroll {
    overflow-y: scroll;
    max-height: 275px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}

